<header>

  <!-- *** TOP ***
  _________________________________________________________ -->
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5 contact">
          <p class="hidden-sm hidden-xs">Contactenos al +57 322 942 25 67 o contact@cg2017-2.com.</p>
          <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a> <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
          </p>
        </div>
        <div class="col-xs-7">
          <div class="social">
            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
          </div>

          <div class="login">
            <a href="#" routerLink="auth/login"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Acceder</span></a>
            <a href="#" routerLink="auth/register"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Registrese!</span></a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- *** TOP END *** -->

  <!-- *** NAVBAR ***
  _________________________________________________________ -->
  <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
    <div class="navbar navbar-default" role="navigation" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand home" href="javascript: void(0);" routerLink="/">
            <img src="./../../../../assets/img/logoEnd.png" alt="Universal logo" class="hidden-xs hidden-sm">
            <img src="./../../../../assets/img/logoEnd.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Universal - go to homepage</span>
          </a>
          <div class="navbar-buttons">
            <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-align-justify"></i>
            </button>
          </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a href="javascript: void(0);">Inicio</a>
            </li>
            <li class="dropdown" routerLinkActive="active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Productos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a routerLink="products/doors" href="javascript: void(0);">Puertas Rápidas</a></li>
                <li><a routerLink="products/machinery" href="javascript: void(0);">Maquinaria Pesada</a></li>
                <li><a routerLink="products/legos" href="javascript: void(0);">Fichas de Legos</a></li>
              </ul>
            </li>
            <li routerLink="quotation/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a href="javascript: void(0);">Cotizar</a>
            </li>
            <li routerLink="contact/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a href="javascript: void(0);">Contacto</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
    <!-- /#navbar -->
  </div>
  <!-- *** NAVBAR END *** -->
</header>
