<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Mi perfil</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb">
          <li><a href="#">Inicio</a>
          </li>
          <li>Perfil</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile text-center">
        <img class="ProfileImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWuQH3vlB_boW7QuW_SNwYpF5IDBbUlmVhG-RjWhRe_JV3LiJJTg" alt="ProfileIcon">
        <div class="heading">
          <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        </div>

        <h4>{{user.role}}</h4>
        <p>{{user.enterprise}}</p>
      </div>
    </div>

    <div class="col-md-9" id="customer-account">
      <div class="col-xs-12">
        <mat-tab-group>
          <mat-tab label="Datos de Contacto">
            <p class="lead"></p>
            <p class="text-muted">Manten tus datos actualizados, usamos estos datos para poder contactarte y generar la cotizacion.</p>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  DATOS PERSONALES
                </mat-panel-title>
                <mat-panel-description>
                  Aquí podrás actualizar tu información personal
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form [formGroup]="userForm" (ngSubmit)="updateUser(userForm)">
                <div class="col-xs-12">
                  <h4>Información General</h4>
                  <hr>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="firstname">Primer Nombre</label>
                    <input type="text" class="form-control" formControlName="firstName" id="firstname">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="lastname">Primer Apellido</label>
                    <input type="text" class="form-control" formControlName="lastName" id="lastname">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="lastname">Documento</label>
                    <input type="text" class="form-control" formControlName="document" id="lastname">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="street">Correo Electrónico</label>
                    <input type="text" class="form-control" formControlName="email" id="email">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="city">Teléfono</label>
                    <input type="text" class="form-control" formControlName="phone" id="phone">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="zip">Dirección</label>
                    <input type="text" class="form-control" formControlName="address" id="address">
                  </div>
                </div>
                <div class="col-xs-12">
                  <h4>Información de Empresa</h4>
                  <hr>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="state">Empresa</label>
                    <input type="text" class="form-control" formControlName="enterprise" id="entreprise">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="country">NIT</label>
                    <input type="text" class="form-control" formControlName="nit" id="nit">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="phone">Rol en la compañia</label>
                    <input type="text" class="form-control" formControlName="role" id="role">
                  </div>
                </div>
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Guardar Cambios</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </mat-expansion-panel>
          </mat-tab>



          <template #template>
    <div class="modal-header  ">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="heading text-center">
                <h3>Descripción cotización # {{selectedQuotation.id}}</h3>
      </div>
      <div class="text-center">
          <h3>{{selectedQuotation.typeProduct}}</h3>
          <p>{{selectedQuotation.originalData['familiaproducto']}}</p>
      </div>
      <div class="clearfix">
      </div>
    </div>
    <div class="modal-body ">

      <div class="col-xs-10 col-sm-offset-1 text-center">
        <table class="table table-striped table-condensed ">
          <thead>
            <tr>
              <th  class="text-center">Caracteristica</th>
              <th  class="text-center">Personalización</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let prop of displayQuotation" class="dataPresent">
              <td >{{prop.key}}</td>
              <td >{{prop.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="clearfix">

      </div>
    </div>

  </template>


          <mat-tab label="Estado Cotizaciones">
            <div class="col-md-12" id="customer-orders">
              <h3 class="text-center">Tus Cotizaciones</h3>
              <div class="box">
                <div class="table-responsive">
                  <table class="table table-hover quotationTable">
                    <thead>
                      <tr>
                        <th>NumeroOrden</th>
                        <th>Fecha</th>
                        <th>Producto Solicitado</th>
                        <th>cantidad</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody>



                      <tr *ngFor="let quotation of quotations" class="quotationTable " (click)="openModal(template,quotation)">



                        <th># {{quotation.id}}</th>
                        <td>{{quotation.date}}</td>
                        <td>{{quotation.typeProduct}}</td>
                        <th>{{quotation.quantity}}</th>
                        <td>
                          <span class="label label-success" *ngIf="quotation.state === '5'">
                            Cotizacion Terminada
                          </span>
                          <span class="label label-primary" *ngIf="quotation.state === '4'">
                            Enviando al Correo
                          </span>
                          <span class="label label-info" *ngIf="quotation.state === '3'">
                            Generando Cotización
                          </span>
                          <span class="label label-warning" *ngIf="quotation.state === '2'">
                              Generando Modelos
                          </span>
                          <span class="label label-danger" *ngIf="quotation.state === '1'">
                            Sin Procesar
                          </span>
                          <span class="label label-default " *ngIf="quotation.state === NULL">
                            UNDEFINED
                          </span>
                        </td>
                      </tr>




                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
