<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Mi perfil</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb">

          <li><a href="index.html">Home</a>
          </li>
          <li>Profile</li>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">

      <div class="profile text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWuQH3vlB_boW7QuW_SNwYpF5IDBbUlmVhG-RjWhRe_JV3LiJJTg" alt="ProfileIcon" style="width:100%">
        <div class="heading">
          <h2>{{dataUser.firstName}} {{dataUser.lastName}}</h2>
        </div>

        <h4>{{dataUser.email}}</h4>
        <p>{{dataUser.enterprise}}</p>


      </div>
    </div>
    <!-- *** LEFT COLUMN ***
			 _________________________________________________________ -->

    <div class="col-md-9 clearfix" id="customer-account">
      <mat-tab-group>
        <mat-tab label="Configuración datos de contacto.">
          <p class="lead"></p>
          <p class="text-muted">Manten tus datos actualizados, usamos estos datos para poder contactarte y generar la cotizacion.</p>

          <div class="box">

            <div class="heading">
              <h3 class="text-uppercase">Cambio Contraseña</h3>
            </div>

            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="password_old">Contraseña Antigua</label>
                    <input type="password" class="form-control" id="password_old">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="password_1">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password_1">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="password_2">Escribe tu nueva contraseña</label>
                    <input type="password" class="form-control" id="password_2">
                  </div>
                </div>
              </div>
              <!-- /.row -->

              <div class="text-center">
                <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Cambiar contraseña</button>
              </div>
            </form>

          </div>
          <!-- /.box -->


          <div class="box clearfix">
            <div class="heading">
              <h3 class="text-uppercase">Datos Personales</h3>
            </div>

            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname">Primer Nombre</label>
                    <input type="text" class="form-control" value="{{dataUser.firstName}}" id="firstname">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastname">Primer Apellido</label>
                    <input type="text" class="form-control" value="{{dataUser.lastName}}" id="lastname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastname">Documento</label>
                    <input type="text" value="{{dataUser.uid}}" class="form-control" id="lastname">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="street">Correo Electrónico</label>
                    <input type="text" value="{{dataUser.email}}" class="form-control" id="street">
                  </div>
                </div>

              </div>
              <!-- /.row -->

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="company">Compañia</label>
                    <input type="text" value="{{dataUser.enterprise}}" class="form-control" id="company">
                  </div>
                </div>

              </div>
              <!-- /.row -->

              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="city">Telefono</label>
                    <input type="text" class="form-control" id="city">
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="zip">Dirección</label>
                    <input type="text" class="form-control" id="zip">
                  </div>
                </div>


                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="phone">Rol en la compañia</label>
                    <input type="text" class="form-control" id="phone">
                  </div>
                </div>

                <div class="col-sm-6 ">
                  <div class="form-group">
                    <label for="state">Empresa</label>
                    <input type="text" class="form-control" id="phone">
                  </div>
                </div>
                <div class="col-sm-6 ">
                  <div class="form-group">
                    <label for="country">NIT</label>
                    <input type="text" class="form-control" id="phone">
                  </div>
                </div>
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Guardar Cambios</button>

                </div>


              </div>

            </form>

          </div>
        </mat-tab>
        <mat-tab label="Estado Cotizaciones">
          <div class="col-md-12" id="customer-orders">

            <h3 class="text-center">Tus Cotizaciones</h3>
            <div class="box">

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>NumeroOrden</th>
                      <th>Fecha</th>
                      <th>Producto Solicitado</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th># 1735</th>
                      <td>22/06/2013</td>
                      <td>Puerta1</td>
                      <td><span class="label label-info">Being prepared</span>

                    </tr>
                    <tr>
                      <th># 1735</th>
                      <td>22/06/2013</td>
                      <td>carroA</td>
                      <td><span class="label label-info">Being prepared</span>

                    </tr>
                    <tr>
                      <th># 1735</th>
                      <td>22/06/2013</td>
                      <td>volqueta</td>
                      <td><span class="label label-success">Received</span>

                    </tr>
                    <tr>
                      <th># 1735</th>
                      <td>22/06/2013</td>
                      <td>maquina</td>
                      <td><span class="label label-danger">Cancelled</span>

                    </tr>
                    <tr>
                      <th># 1735</th>
                      <td>22/06/2013</td>
                      <td>carro2</td>
                      <td><span class="label label-warning">On hold</span>

                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->

            </div>
            <!-- /.box -->

          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
    <!-- /.col-md-9 -->

    <!-- *** LEFT COLUMN END *** -->

    <!-- *** RIGHT COLUMN ***
			 _________________________________________________________ -->



    <!-- *** RIGHT COLUMN END *** -->

  </div>
  <!-- /.row -->

</div>
