<!-- Nav tabs -->
<div class="card	">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#sello_muelle" aria-controls="sello_muelle" role="tab" data-toggle="tab">Sellos para Muelles de carga</a>
    </li>
    <li role="presentation"><a href="#puerta_rapida" aria-controls="puerta_rapida" role="tab" data-toggle="tab">Puerta Rápida Enrollable</a></li>
    <li role="presentation"><a href="#abrigo_muelle" aria-controls="abrigo_muelle" role="tab" data-toggle="tab">Abrigos para Muelles de carga</a></li>

  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="sello_muelle">
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row mb-small">
              <div class="col-sm-12 text-center">
                <h1>SELLO PARA MUELLES DE CARGA</h1>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6 text-center">
                <img src="assets/img/sellos_para_muelles_de_carga/sellos_para_muelles_de_carga_0.png" alt="" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h2 class="text-uppercase">¿Por qué usarlo?</h2>
                <p class="mb-small">Ofrece el sellado óptimo entre la parte trasera del camión y las paredes alrededor del vano de la puerta para garantizar la separación de ambientes, entre la intemperie, el interior del camión y el área de trabajo. El proceso se realiza
                  automáticamente a medida que el camión presiona el sello y se acopla al muelle de carga.</p>
                <br>
                <p class="mb-small">Los Sellos para muelle de carga son elementos básicos y de gran utilidad en los patios de maniobra. Éstos se pueden instalar en centros de distribución nuevos o adaptar en las plantas existentes.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">BENEFICIOS</h1>
              </div>
              </div>
              <div class="row vertical_center_col">
              <div class="col-md-6">
                <ul type="none" class="list_custom" >
                  <li> ■ &nbsp;  Los sellos para muelle evitan fugas de temperatura, entrada de aire, agua, polvo, insectos, etc. </li>
                  <br>
                  <li> ■ &nbsp;  Son útiles para proteger y reducir hurto durante la carga y descarga de materiales o productos. </li>
                  <br>
                </ul>
              </div>
              <div class="col-md-6">
                <ul type="none" class="list_custom" >
                  <li> ■ &nbsp;  Reduce las pérdidas energéticas gracias a la separación efectiva de ambientes. </li>
                  <br>
                  <li> ■ &nbsp;  Protege el producto y al personal de condiciones ambientales. </li>
                  <br>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">PARTES</h1>
              </div>
              </div>
            <div class="row vertical_center_col">

              <div class="col-md-6">
                <ul type="none" class="list_custom"  >
                  <li> ■ &nbsp;  2 Postes Verticales </li>
                  <br>
                  <li> ■ &nbsp;  1 Travesaño Horizontal (Parte superior) </li>
                  <br>
                  <li> ■ &nbsp;  1 Travesaño Horizontal con topes internos (Parte inferior) </li>
                  <br>
                  <li> ■ &nbsp; 1 Lona de Recubrimiento Superior </li>
                  <br>
                  <li> ■ &nbsp;  Cubierta removible con elementos de fijación de alta calidad </li>
                  <br>
                </ul>
              </div>
                            <div class="col-md-6 text-center">
                <img src="assets/img/sellos_para_muelles_de_carga/sellos_para_muelles_de_carga_2.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">ALETAS DE DESGASTE</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
                              <div class="col-md-6 text-center">
                <img src="assets/img/sellos_para_muelles_de_carga/sellos_para_muelles_de_carga_3.png" alt="" class="img-responsive">
              </div>
              <div class="col-md-6">
                <p class="mb-small">Para aumentar la vida útil de los sellos, se implementan aletas superpuestas a lo largo de las columnas aterales. Estas aletas absorben la abrasión que se produce en áreas de alto desgaste protegiendo las almohadillas del sello.</p>
                <br>
                <p class="mb-small">Las solapas de desgaste se encuentran disponibles con una exposición de:</p>
                <ul type="none" class="list_custom">
                  <li> ■ &nbsp; 10 cm </li>
                  <li> ■ &nbsp; 15 cm </li>
                  <li> ■ &nbsp; 20 cm </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">COMPENSACIÓN DE DESNIVEL</h1>
                <p class="mb-small">La fabricación de cada sello para muelle de carga, se realiza especifícamente para satisfacer las condiciones de inclinación o declinación de la zona.</p>
                <br>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-12 text-center">
                <img src="assets/img/sellos_para_muelles_de_carga/sellos_para_muelles_de_carga_4.png" alt="" class="img-responsive" style="display: inline;">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">CUBIERTA REMOVIBLE</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
              <div class="col-md-6">
                <p class="mb-small">Las aletas de desgaste se encuentran dispuestas en una cubierta removible; con elementos de fijación de alta calidad. Lo cual permite el reemplazo de partes por daño o desgaste, sin realizar el desmonte del sello.</p>
              </div>
              <div class="col-md-6 text-center">
                <img src="assets/img/sellos_para_muelles_de_carga/sellos_para_muelles_de_carga_5.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">ACCESORIOS DE INSTALACIÓN</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
              <div class="col-md-6 text-center">
                <img src="assets/img/sellos_para_muelles_de_carga/sellos_para_muelles_de_carga_6.png" alt="" class="img-responsive">
              </div>
              <div class="col-md-6">
                <p class="mb-small">La instalación de los sellos para muelles de carga se realiza de forma sencilla y rápida, ya que cuenta con accesorios que la facilitan y brindan un acabado estético de calidad.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">GAMA DE COLORES</h1>
                <p class="mb-small">La fabricación de los sellos se realiza con cada combinación posible que se desee, de dos colores.</p>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-12 text-center">
                <img src="assets/img/sellos_para_muelles_de_carga/sellos_para_muelles_de_carga_7.png" alt="" class="img-responsive" >
                <br>
              </div>
            </div>
          </div>
        </div>
        <!-- *** JUMBOTRON END *** -->
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask "></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">CARACTERÍSTICAS TÉCNICAS DE LA LONA</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
              <div class="col-md-12 text-center">
                <ul type="none" class="list_custom">
                  <li><strong style="font-size: 30px">■ &nbsp; Material Lona:</strong> &nbsp; Resina Plástica de PVC </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Peso: </strong> &nbsp;900g/m2</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Resistencia al Rasgado: </strong> &nbsp;(Largo) 34 kg/cm - (Ancho) 34 kg/cm
          </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Elongación: </strong> &nbsp;28%</li>               
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
    <div role="tabpanel" class="tab-pane" id="puerta_rapida">
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row mb-small">
              <div class="col-sm-12 text-center">
                <h1>PUERTA RÁPIDA ENROLLABLE</h1>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6 text-center">
                <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_1.png" alt="" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h2 class="text-uppercase">¿Por qué usarlo?</h2>
                <p class="mb-small">En operaciones que requieren gran cantidad de flujo de personal, maquinaria y mercancía y altos niveles de seguridad en los pasajes, la Puerta Rápida Enrollable es la solución perfecta.</p>
                <br>
                <p class="mb-small">Ofrece una excelente resistencia en distintos escenarios de operación y una alta velocidad de apertura que permite un ritmo de trabajo sin interrupción. Es ideal para la separación de espacios con diferentes características y aplicaciones
                  como mantener la cadena de frío, protección de vientos, amortiguación de ruidos, almacenes, muelles de carga, hospitales entre otros. Garantiza seguridad para la mercancía, el personal y la maquinaria en ránsito.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-md-12">
                <h1 class="text-uppercase">LONA</h1>
                <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_2.png" alt="" class="img-responsive">
                <p class="mb-small">Compuesta de PVC flexible de alta calidad y resistencia por ambas caras, con un peso de 900gr/m2. Sus principales características entorno a la industria y la seguridad son:</p>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6">
                <ul type="none" class="list_custom" >
                  <li> ■ &nbsp;  Impermeabilidad</li>
                  <br>
                  <li> ■ &nbsp;  Sellabilidad</li>
                  <br>
                  <li> ■ &nbsp;  Resistencia a Rayos Solares UV</li>
                  <br>
                  <li> ■ &nbsp;  Protección Biosida</li>
                  <br>
                </ul>
              </div>
              <div class="col-md-6">
                <ul type="none" class="list_custom" >
                  <li> ■ &nbsp;  Ignífuga</li>
                  <br>
                  <li> ■ &nbsp;   Resistencia a Diversos productos - Sellabilidad químicos</li>
                  <br>
                  <li> ■ &nbsp;   Mirillas en PVC Cristal</li>
                  <br>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-md-12">
                <h1 class="text-uppercase">CONTROL</h1>
                <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_3.png" alt="" class="img-responsive">
                <p class="mb-small">La Puerta Rápida Enrollable cuenta con distintos sistemas de control</p>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6">
                <h2 class="text-uppercase">Pulsadores</h2>
                <p class="mb-small">El sistema de control se instala a un costado de la puerta y constituye pulsadores para:</p>
                  <p class="list_custom"> ■ &nbsp;  Subir</p>
                  <p class="list_custom"> ■ &nbsp;  Bajar</p>
                  <p class="list_custom"> ■ &nbsp;  Detener</p>
                  <p class="list_custom"> ■ &nbsp;  Hongo de seguridad </p>
              </div>
              <div class="col-md-6">
                <h2 class="text-uppercase">Manual</h2>
                <p class="mb-small">Se encuentra acoplado directamente al motor que controla la puerta y es accionado implementando una llave bristol 3/16”, para enrollar o desenrollar el telón.</p>
              </div>
              <div class="col-md-6">
                <h2 class="text-uppercase">Automático</h2>
                <p class="mb-small">Posee un sensor de presencia en el cabezal de la puerta para personal y maquinaria, que permite la apertura de la misma. Es opcional colocarlo en ambos lados de la puerta.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-md-12">
                <h1 class="text-uppercase">SEGURIDAD</h1>
                <p class="mb-small">Se implementan dos sistemas de seguridad estándar para garantizar la seguridad del personal, mercancía y maquinaria:</p>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6">
                <h2 class="text-uppercase">Fotocélulas</h2>
                <p class="mb-small">Si se interrumpe el haz que emiten las fotocélulas durante el cierre, la puerta se detendrá y volverá a abrirse completamente.</p>
              </div>
              <div class="col-md-6">
                <h2 class="text-uppercase">Barra de Seguridad</h2>
                <p class="mb-small"> Se encuentra ubicada en la parte inferior del telón (borde). En caso de chocar con algún obstáculo durante el cierre, la puerta se detendrá y  olverá a abrirse completamente.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask "></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-md-12">
                <h1 class="text-uppercase">ESTRUCTURA</h1>
                <p class="mb-small">Guías laterales y cabezal en aluminio anodizado o lacado, que se fija a la pared con tornillos en acero galvanizado o inoxidable.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-md-12">
                <h1 class="text-uppercase">FUNCIONAMIENTO</h1>
                
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6">
                <p class="mb-small"> ■ &nbsp; El sistema de apertura y cierre de la puerta cuenta con finales de carrera mecánicos rotativos, lo que garantiza un posicionamiento correcto y seguro en todo momento del telón, evitando errores con detenciones inesperadas de seguridad o falta de suministro de energía eléctrica.</p>
                <p class="mb-small"> ■ &nbsp; El tiempo de espera para el cierre automático es ajustable en el panel de control, dispuesto a un costado de la puerta.
                </p>
              </div>
              <div class="col-md-6">
                    <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_4.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask "></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-md-12">
                <h2 class="text-uppercase">ACCESORIOS</h2>
                <p class="mb-small">Las solapas de desgaste se encuentran disponibles con una exposición de:</p>
                <br>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6">
                <ul type="none" class="list_custom">
                  <li><strong style="font-size: 30px">■ &nbsp;Interruptor de Tirador:</strong> &nbsp;  La puerta se abre cuando se hala de una cuerda situada encima de ésta. </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Mando a Distancia: </strong> &nbsp;Capacidad de 15 mandos por puerta a una distancia máx de 152 m</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Fotocélulas: </strong> &nbsp;La puerta se abre cuando se interrumpe el haz de las fotocélulas, situadas frente a la puerta.
        </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp;Apertura / Cierre parcial: </strong> &nbsp;(Apertura parcial para paso peatonal y apertura completa para paso de maquinaria y/o mercancía)</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp;Apertura / Cierre mientras se mantiene el pulsador</strong></li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Luces de Aviso: </strong> &nbsp;Indica el estado actual de la puerta, dependiendo del color y permanencia de la luz (intermitencia o no)
        </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp;Señal Acústica : </strong> &nbsp;Se emite un sonido durante el movimiento de la puerta.</li>                
                </ul>
                </div>
                <div class="col-md-6">
                <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_5.png" alt="" class="img-responsive">
                 <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_6.png" alt="" class="img-responsive">
                  <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_7.png" alt="" class="img-responsive">
              </div>


            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">GAMA DE COLORES</h2>
                <img src="assets/img/puerta_rapida_enrollable/puerta_rapida_enrollable_8.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask "></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">CARACTERÍSTICAS TÉCNICAS DE LA LONA</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
              <div class="col-md-12 text-center">
                <ul type="none" class="list_custom">
                  <li><strong style="font-size: 30px">■ &nbsp; Velocidad:</strong> &nbsp;  Apertura y cierre constante, desde 0,8 m/s hasta 1,2m/s </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Vida Útil:  </strong> &nbsp;1 000 000 de ciclos.</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Material Lona:  </strong> &nbsp; Resina Plástica de PVC
        </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Peso Lona: </strong> &nbsp;900g/m2</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Resistencia al Rasgado:</strong> &nbsp; (Largo) 34 kg/cm - (Ancho) 34 kg/cm</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Elongación:</strong> &nbsp;28%</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp;Material Transparente:  </strong> &nbsp; 100% Polyester
        </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Peso:  </strong> &nbsp; 115g/m2li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Resistencia al Rasgado:</strong> &nbsp; (Largo) 80 kg/25mm - (Ancho) 74 kg/25mm. </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Elongación:  </strong> &nbsp; 32%</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Motor:  </strong> &nbsp;  220 VAC - 3 PH - 60 Hz
      </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Sensores:  </strong> &nbsp;12 - 24 VDC</li>                                
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
    <div role="tabpanel" class="tab-pane" id="abrigo_muelle">
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row mb-small">
              <div class="col-sm-12 text-center">
                <h1>ABRIGOS PARA MUELLES DE CARGA</h1>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-6 text-center">
                <img src="assets/img/abrigos_para_muelles_de_carga/abrigos_para_muelles_de_carga_0.png" alt="" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h2 class="text-uppercase">¿Por qué usarlo?</h2>
                <p class="mb-small">Diseñados para garantizar el mayor aislamiento y separación de ambientes en el proceso de cargue y descargue en muelles de carga; en cuanto a la intemperie, el interior del área de trabajo y la mercancía. Se acoplan a las distintas dimensiones de camiones y contenedores de carga.</p>
                <br>
                <p class="mb-small">Los Abrigos para muelle son elementos básicos y de gran utilidad en los patios de maniobra. Éstos se pueden instalar en centros de distribución nuevos o adaptar en las plantas existentes.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">BENEFICIOS</h1>
              </div>
              </div>
              <div class="row vertical_center_col">
              <div class="col-md-6">
                <ul type="none" class="list_custom" >
                  <li> ■ &nbsp;   Evitan fugas de temperatura, entrada de aire, agua, polvo, insectos, etc.</li>
                  <br>
                  <li> ■ &nbsp;  Son útiles para proteger y reducir hurto durante la carga y descarga de materiales o productos. </li>
                  <br>
                </ul>
              </div>
              <div class="col-md-6">
                <ul type="none" class="list_custom" >
                  <li> ■ &nbsp;  Reduce las pérdidas energéticas gracias a la separación efectiva de ambientes. </li>
                  <br>
                  <li> ■ &nbsp;  Protege el producto y al personal de condiciones ambientales. </li>
                  <br>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">PARTES</h1>
              </div>
              </div>
            <div class="row vertical_center_col">

              <div class="col-md-6">
                <ul type="none" class="list_custom"  >
                  <li> ■ &nbsp;  (1) Lona Superior </li>
                  <br>
                  <li> ■ &nbsp;  (2) Lonas Laterales (Parte superior) </li>
                  <br>
                  <li> ■ &nbsp;  (3) Bandas verticales para guía en el aparcamiento </li>
                  <br>
                  <li> ■ &nbsp; (4) Lona flexible envolvente </li>
                  <br>
                  <li> ■ &nbsp; (5) Estructura perimetral con perfiles galvanizados </li>
                  <br>
                </ul>
              </div>
                            <div class="col-md-6 text-center">
                <img src="assets/img/abrigos_para_muelles_de_carga/abrigos_para_muelles_de_carga_1.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">INCLINACIÓN PARA EVACUACIÓN DE AGUA 
                </h1>
              </div>
              </div>
            <div class="row vertical_center_col">
                              <div class="col-md-6 text-center">
                <img src="assets/img/abrigos_para_muelles_de_carga/abrigos_para_muelles_de_carga_2.png" alt="" class="img-responsive">
              </div>
              <div class="col-md-6">
                <p class="mb-small">La estructura de cada abrigo cuenta con una inclinación en la parte superior, para facilitar la evacuación del agua en caso de lluvia.</p>
              </div>

            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">SISTEMA RETRÁCTIL</h1>
                <p class="mb-small">Los abrigos para muelles de carga poseen un sistema retráctil, que permite flexibilidad en las maniobras de carga y descarga, protegiendo así las instalaciones del muelle y el propio abrigo si se ejerce presión por parte de los vehículos de diferentes dimensiones.</p>
                <br>
                <p class="mb-small">Al retirarse el vehículo, luego de terminada la operación en el muelle, el abrigo volverá a su posición original.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">ESTRUCTURA</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
              <div class="col-md-6">
                <p class="mb-small">La estructura perimetral del abrigo es fabricada con acero galvanizado y acabados en pintura electrostática, para brindar protección ante  a corrosión en la intemperie.</p>
              </div>
              <div class="col-md-6 text-center">
                <img src="assets/img/abrigos_para_muelles_de_carga/abrigos_para_muelles_de_carga_3.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask "></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">CARACTERÍSTICAS TÉCNICAS DE LA LONA</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
              <div class="col-md-12 text-center">
                <ul type="none" class="list_custom">
                  <li><strong style="font-size: 30px">■ &nbsp; Material Lona:</strong> &nbsp; Resina Plástica de PVC </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Peso: </strong> &nbsp;900g/m2</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Resistencia al Rasgado: </strong> &nbsp;(Largo) 34 kg/cm - (Ancho) 34 kg/cm
          </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Elongación: </strong> &nbsp;28%</li>               
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask custom_dark_mask"></div>
          <div class="container">
            <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">GAMA DE COLORES</h1>
                <p class="mb-small">La fabricación de los abrigos se realiza con cada combinación posible que se desee, para la estructura perimetral y la lona.</p>
              </div>
            </div>
            <div class="row vertical_center_col">
              <div class="col-md-12 text-center">
                <img src="assets/img/abrigos_para_muelles_de_carga/abrigos_para_muelles_de_carga_4.png" alt="" class="img-responsive">
                <br>
              </div>
            </div>
          </div>
        </div>
        <!-- *** JUMBOTRON END *** -->
      </section>
      <section class="no-mb">
        <div class="jumbotron">
          <div class="dark-mask "></div>
          <div class="container">
          <div class="row vertical_center_col">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase">CARACTERÍSTICAS TÉCNICAS DE LA LONA</h1>
              </div>
              </div>
            <div class="row vertical_center_col">
              <div class="col-md-12 text-center">
                <ul type="none" class="list_custom">
                  <li><strong style="font-size: 30px">■ &nbsp; Aplicación: </strong> &nbsp;  Interior y exterior.</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; DIMENSIONES ESTANDAR*:</strong><br>ALTO x ANCHO (H x W): <br> * 3.2m x 3.2 <br> * 3.4m x 3.2m <br> * 3.4m x 3.4m </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; LONA SUPERIOR (A): </strong> &nbsp;1m
                 </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; LONAS LATERALES (B): </strong> &nbsp;0.6m
                 </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; PROYECCIÓN (C):  </strong> &nbsp;0.7m
                 </li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Elongación: </strong> &nbsp;28%</li>
                  <br>
                  <li><strong style="font-size: 40px">LONA</strong></li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Material Lona:  </strong> &nbsp;   Resina Plástica de PVC</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Peso:  </strong> &nbsp;   900g/m2</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Resistencia al Rasgado: </strong> &nbsp;   (Largo) 34 kg/cm - (Ancho) 34 kg/cm</li>
                  <br>
                  <li><strong style="font-size: 30px">■ &nbsp; Elongación:  </strong> &nbsp; 28%</li>
                  <br>

                  <li><strong style="font-size: 40px">■ &nbsp; ESTRUCTURA</strong> <br> La estructura interna de los abrigos está fabricada en pefiles de acero galvanizado de calibre 16. La estructura perimetral exterior, del mismo material, tiene  cabado en pintura electrostática.</li>
                  <br>
                  <br>               
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
