<div class="col-xs-12">
  <div class="form-group">
    <label class="control-label">Tipo de producto:</label>
    <select class="form-control" [(ngModel)]="selectedValue">
      <option *ngFor="let door of doors" [ngValue]="door">{{ door.name }}</option>
    </select>
  </div>
</div>

<div class="col-xs-12" *ngIf="selectedValue && selectedValue.id === 1">
  <div class="col-xs-12 col-sm-6" *ngFor="let characteristic of selectedValue.characteristics">
    <div class="form-group">
      <label class="control-label">{{ characteristic.name }}:</label>
      <input type="characteristic.type" [(ngModel)]="characteristic.value" class="form-control" />
    </div>
  </div>
</div>

<div>
  <div style=" wibackground:lightgray;">
    <canvas #myCanvas width="310" height="400" style="  background:black;"></canvas>
    <br> Ancho <input type="range" min="100" max="200" [(ngModel)]="rectW" /> Alto <input type="range" min="100" max="300" [(ngModel)]="rectH" /><br />
  </div>
  <mat-radio-group class="example-radio-group">
    <mat-radio-button class="example-radio-button" (click)="tipeColor(color)" *ngFor="let color of listColor" [value]="color">
      {{color}}
    </mat-radio-button>
  </mat-radio-group>
</div>
