<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Nueva Cuenta</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb">
          <li><a href="index.html">Inicio</a>
          </li>
          <li>Registro</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2">
        <div class="box">
          <h2 class="text-uppercase">Registrarse</h2>

          <p class="lead">Aún no te has registrado?</p>
          <p>Al registrarse, podrá acceder a nuevos beneficios, descuentos y podrá llevar registro de las cotizaciones que realice en nuestra plataforma. El proceso de registro solo le llevará 1 minuto.</p>
          <p class="text-muted">
            Si tiene alguna pregunta, por favor <a href="javascript: void(0);" (click)="goToContact()">contáctenos</a>, nuestro centro de servicio al cliente esta trabajando para usted 24/7.
          </p>
          <hr>

          <div class="row">
            <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)" novalidate>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="firstname">Nombres</label>
                      <input type="text" class="form-control" id="firstname" formControlName="firstName">
                      <div class="alert alert-danger alert-sm border-flat" *ngIf="registerForm.controls.firstName.dirty && registerForm.controls.firstName.errors">
                        <ul class="list-unstyled">
                          <li *ngIf="registerForm.controls.firstName.hasError('required')">
                            <span class="fa fa-exclamation"></span> Oops, este campo es requerido!
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="lastname">Apellidos</label>
                      <input type="text" class="form-control" id="lastname" formControlName="lastName">
                      <div class="alert alert-danger alert-sm border-flat" *ngIf="registerForm.controls.lastName.dirty && registerForm.controls.lastName.errors">
                        <ul class="list-unstyled">
                          <li *ngIf="registerForm.controls.lastName.hasError('required')">
                            <span class="fa fa-exclamation"></span> Oops, este campo es requerido!
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="address">Dirección</label>
                      <input type="text" class="form-control" id="address" formControlName="address">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="phone">Teléfono</label>
                      <input type="text" class="form-control" id="phone" formControlName="phone">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="email">Correo electrónico</label>
                  <input type="text" class="form-control" id="email" formControlName="email">
                  <div class="alert alert-danger alert-sm border-flat" *ngIf="registerForm.controls.email.dirty &&  registerForm.controls.email.errors">
                    <ul class="list-unstyled">
                      <li *ngIf="registerForm.controls.email.hasError('required')">
                        <span class="fa fa-exclamation"></span> Oops, este campo es requerido!
                      </li>
                      <li *ngIf="registerForm.controls.email.hasError('email')">
                        <span class="fa fa-exclamation"></span> Oops, este campo debe contener un email valido!
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" class="form-control" id="password" formControlName="password">
                      <div class="alert alert-danger alert-sm border-flat" *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.errors">
                        <ul class="list-unstyled">
                          <li *ngIf="registerForm.controls.password.hasError('required')">
                            <span class="fa fa-exclamation"></span> Oops, este campo es requerido!
                          </li>
                          <li *ngIf="!registerForm.controls.password.hasError('required') && registerForm.controls.password.hasError('minlength')">
                            <span class="fa fa-exclamation"></span> Oops, este campo debe contener minimo 8 caracteres!
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="confirmpassword">Confirmar contraseña</label>
                      <input type="password" class="form-control" id="confirmpassword" formControlName="confirmPassword">
                      <div class="alert alert-danger alert-sm border-flat" *ngIf="registerForm.controls.confirmPassword.dirty && registerForm.controls.confirmPassword.errors">
                        <ul class="list-unstyled">
                          <li *ngIf="registerForm.controls.confirmPassword.hasError('required')">
                            <span class="fa fa-exclamation"></span> Oops, este campo es requerido!
                          </li>
                          <li *ngIf="!registerForm.controls.confirmPassword.hasError('required') && registerForm.value.password != registerForm.value.confirmPassword">
                            <span class="fa fa-exclamation"></span> Oops, los campos de contraseña deben coincidir!
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <button type="submit" class="btn btn-template-main pull-right" [disabled]="disabledForm()"><i class="fa fa-user-md"></i> {{ savingUser ? 'Registrando' : 'Registrarme' }}</button>
                <span>Ya tienes una cuenta? <a href="javascript: void(0);" (click)="goToLogin()">Inicia sesión</a></span>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
<!-- /#content -->
