<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Contacto</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb">
          <li><a href="#">Inicio</a>
          </li>
          <li>Contacto</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-8">
        <section>
          <div class="heading">
            <h2>Contáctese con nosotros</h2>
          </div>

          <p class="lead">Quieres saber más acerca de nosotros? Tiene algun tipo de problema con nuestros productos? Cualquier duda, inquietud, queja o comentario serán atendidos con prontitud.</p>
          <p>Sientase libre de contactarnos, nuestro centro de servicio al cliente esta trabajando 24/7.</p>

          <div class="heading">
            <h3>Formulario de contacto</h3>
          </div>
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstname">Nombre</label>
                  <input type="text" class="form-control" id="firstname">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastname">Apellido</label>
                  <input type="text" class="form-control" id="lastname">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Correo Electrónico</label>
                  <input type="text" class="form-control" id="email">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="subject">Asunto</label>
                  <input type="text" class="form-control" id="subject">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="message">Mensaje</label>
                  <textarea id="message" rows="5" class="form-control vertical-textarea"></textarea>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Enviar Mensaje</button>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </section>
      </div>

      <div class="col-md-4">

        <section>

          <h3 class="text-uppercase">Ubicación</h3>

          <p>
            Computación Gráfica Ltd.
            <br>Universidad Nacional de Colombia
            <br>Sede Bogotá
            <br>Carrera 45 # 26-85
            <br>Bogotá D.C.
            <br>
            <strong>Colombia</strong>
          </p>

          <h3 class="text-uppercase">Soporte Técnico</h3>

          <p class="text-muted">Llamenos o escribanos un correo electrónico.</p>
          <ul>
            <li><strong>Call center: </strong> +57 322 942 25 67</li>
            <li><strong>Correo electrónico: </strong><a href="mailto:contact@cg2017-2.com">contact@cg2017-2.com</a></li>
            <li><strong>Más información: </strong><a href="mailto:info@cg2017-2.com">info@cg2017-2.com</a></li>
          </ul>
        </section>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /#contact.container -->
</div>
<!-- /#content -->

<agm-map [latitude]="lat" [longitude]="lng" [draggable]="false" [disableDoubleClickZoom]="true" [streetViewControl]="false" [zoomControl]="false" [scrollwheel]="false" [mapDraggable]="false" [zoom]="14">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
