<header class="bg-img header">
  <nav class="navbar navbar-default navbar-vira">
    <div class="container">
      <div class="navigation-bar">
        <div class="row">
          <div class="col-xs-6">
            <div class="logo">
              <a href="index.html"><span class="fa fa-viacoin"></span></a>
            </div>
          </div>
          <div class="col-xs-6 text-right">
            <div class="menu m">
              <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="intro-box">
        <div class="intro">
          <h1>We are agency</h1>
          <p>CAD instant!</p>
          <a class="btn vira-btn" href="#workstation-slider">request a quote</a>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="about" class="about section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="title">About store</h2>
        <p>
          We strive to provide fast and easy computer assisted design projects for all our users. You will not have to move from your house, through this portal you can make your requests and our response will be immediate.
        </p>
        <span>The team of Graphic Computing</span>
      </div>
    </div>
  </div>
</section>
<section class="purpose section">
  <div class="container">
    <h2 class="title">How to quote</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <div class="card-icon">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
          </div>
          <div class="vira-card-content">
            <h3>Complete the form</h3>
            <p>
              Follow the steps in the services section
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <div class="card-icon">
              <span class="	glyphicon glyphicon-cog" aria-hidden="true"></span>
            </div>
          </div>
          <div class="vira-card-content">
            <h3>Doing magic</h3>
            <p>
              wait while our machinery makes magic with the specifications you gave us
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <div class="card-icon">
              <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
            </div>
          </div>
          <div class="vira-card-content">
            <h3>Check your quote</h3>
            <p>
              Go to your email and verify the quote we sent you, just as you asked!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="expertise" class="expert">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 bg-img">
        <div></div>
      </div>
      <div class="col-sm-5 section">
        <h2 class="title">better platforms, better results</h2>
        <div id="expert-slider" class="owl-carousel">
          <div class="item">
            <p>
              Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall proposition. Organically grow the holistic world view of disruptive innovation
              via workplace diversity and empowerment.
            </p>
          </div>
          <div class="item">
            <p>
              Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content
              in real-time will have multiple touchpoints for offshoring.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="vira-quote section bg-img">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img class="quote" src="assets/images/quote.png">
        <p>
          you do not know which ideas will have the greatest potential until you put them into practice
        </p>
        <p class="author">MITT ROMMEY, EX GOVERNOR OF MASSACHUSETTS</p>
        <img src="assets/images/compas.png">
      </div>
    </div>
  </div>
</section>
<section id="Services" class="work section">
  <div class="container">
    <h2 class="title">Services</h2>
    <div id="workstation-slider" class="owl-carousel">
      <div class="item">
        <div class="vira-card">
          <div class="vira-card-header">
            <iframe src="https://3dwarehouse.sketchup.com/embed.html?mid=b7dd4df85e4359c3c50a037462bade42&width=370&height=230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="370" height="230" allowfullscreen></iframe>
          </div>
          <div class="vira-card-content">
            <h3>Lego Parts</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze enige missiede
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="vira-card">
          <div class="vira-card-header">
            <iframe src="https://3dwarehouse.sketchup.com/embed.html?mid=2b2bb7c9d8b0010ec0b17565bbd38c91&width=370&height=230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="370" height="230" allowfullscreen></iframe>
            <!--<img class="img-responsive" src="assets/images/5.png">-->
          </div>
          <div class="vira-card-content">
            <h3>Automatic doors</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze enige missiede
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="vira-card">
          <div class="vira-card-header">
            <iframe src="https://3dwarehouse.sketchup.com/embed.html?mid=65c3e9d3f71c0dfe68efea80c8e93b4b&width=370&height=230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="370" height="230" allowfullscreen></iframe>
          </div>
          <div class="vira-card-content">
            <h3>Big Machine</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze enige missiede
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="vira-card">
          <div class="vira-card-header">
            <img class="img-responsive" src="assets/images/4.jpg">
          </div>
          <div class="vira-card-content">
            <h3>Seleccion de articulo</h3>
            <div class="row">
              <div class="col-2">
                <input class="form-control" type="text" placeholder="pieza..." #buscarInput/>
              </div>
              <div class="col-2">
                <a href="#" class="btn btn-primary" role="button" (click)=(buscarPiezas(buscarInput.value))>BuscarPiezas</a>
              </div>

            </div>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze enige missiede
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="vira-card">
          <div class="vira-card-header">
            <img class="img-responsive" src="assets/images/5.png">
          </div>
          <div class="vira-card-content">
            <h3>Creative freaks</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze enige missiede
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="vira-card">
          <div class="vira-card-header">
            <img class="img-responsive" src="assets/images/6.jpg">
          </div>
          <div class="vira-card-content">
            <h3>Creative nerds</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club met zichlaim meebrengt. Onze enige missiede
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="watch bg-img">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span>Watch showreel</span>
        <a class="popup-youtube btn" href="https://www.youtube.com/watch?v=4KRHIbsl8BE"><span class="fa fa-play"></span></a>
        <span>with us</span>
      </div>
    </div>
  </div>
</section>
<section id="team" class="team section">
  <div class="container">
    <h2 class="title">Our team members</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <img class="img-responsive" src="assets/images/8.jpg">
          </div>
          <div class="vira-card-content">
            <h3>Pink Floyd</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
            </p>
            <div class="social-icons">
              <ul>
                <a href="#">
                  <li><span class="ion-social-facebook"></span></li>
                </a>
                <a href="#">
                  <li><span class="ion-social-twitter"></span></li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <img class="img-responsive" src="assets/images/9.jpg">
          </div>
          <div class="vira-card-content">
            <h3>Eric Clapton</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
            </p>
            <div class="social-icons">
              <ul>
                <a href="#">
                  <li><span class="ion-social-facebook"></span></li>
                </a>
                <a href="#">
                  <li><span class="ion-social-twitter"></span></li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <img class="img-responsive" src="assets/images/10.jpg">
          </div>
          <div class="vira-card-content">
            <h3>Elton Jhon</h3>
            <p>
              Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
            </p>
            <div class="social-icons">
              <ul>
                <a href="#">
                  <li><span class="ion-social-facebook"></span></li>
                </a>
                <a href="#">
                  <li><span class="ion-social-twitter"></span></li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subscribe section bg-img">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Subscribe to get our quotation</p>
        <form class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control" id="user-email" placeholder="Write your email here....">
          </div>
          <button type="submit" class="btn vira-btn">Send me</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact section">
  <div class="container">
    <h2 class="title">Drop us a line</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <span class="fa fa-map-o" aria-hidden="true"></span>
          </div>
          <div class="vira-card-content">
            <h3>Address</h3>
            <p>
              Level 5, 25 pitt st, US
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <span class="fa fa-phone" aria-hidden="true"></span>
          </div>
          <div class="vira-card-content">
            <h3>Phone</h3>
            <p>
              +123 456 7891
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="vira-card">
          <div class="vira-card-header">
            <span class="fa fa-paper-plane" aria-hidden="true"></span>
          </div>
          <div class="vira-card-content">
            <h3>Email</h3>
            <p>
              Contacto@CG.com
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="social-icons">
          <ul>
            <a href="#">
              <li><span class="ion-social-facebook"></span></li>
            </a>
            <a href="#">
              <li><span class="ion-social-twitter"></span></li>
            </a>
            <a href="#">
              <li><span class="ion-social-pinterest"></span></li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
