


<h1>Puerta rápida</h1>
<div class="row vertical_center_col">
<div class="col-sm-3 text-center">

    		<h6>Mando a Distancia</h6>
         <img src="assets/img/puerta_rapida_enrollable/Mando a Distancia.gif" alt="" class="img-responsive">
  
    	<h6>Interruptor de Tirador</h6>	
         <img src="assets/img/puerta_rapida_enrollable/Interruptor de Tirador.gif" alt="" class="img-responsive">

    		<h6>Lazo Magnético</h6>
         <img src="assets/img/puerta_rapida_enrollable/Lazo Magnético.gif" alt="" class="img-responsive">
 


</div>
<div class="col-sm-3 text-center">

 
    		<h6>Luces de Aviso</h6>
         <img src="assets/img/puerta_rapida_enrollable/Luces de Aviso.jpg" alt="" class="img-responsive">

    		<h6>Señal Acústica</h6>
         <img src="assets/img/puerta_rapida_enrollable/Señal Acústica.png" alt="" class="img-responsive">


</div>
<div class="col-sm-6 text-center">
    <ngvas [width]="canvasWidth" [height]="canvasHeight" >


      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="outlineFill" [x]="topX" [y]="topY" [width]="topWidth" [height]="topHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="outlineFill" [x]="outlineLeftX" [y]="outlineLeftY" [width]="outlineWidth" [height]="outlineHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="outlineFill" [x]="outlineRightX" [y]="outlineRightY" [width]="outlineWidth" [height]="outlineHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>

      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="lonaFill" [x]="lonaX" [y]="lonaY" [width]="lonaWidth" [height]="lonaHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>

      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_1_X" [y]="divider_1_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_2_X" [y]="divider_2_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_3_X" [y]="divider_3_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>

    </ngvas>
    </div>


</div>