


<h1>Puerta </h1>
    <ngvas [width]="500" [height]="500">

      
     <ngvas-rectangle [fill]="outlineFill" x="250" y="0" [width]="400" [height]="80" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="outlineFill" x="57.5" y="240" [width]="15" [height]="510" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="outlineFill" x="442.5" y="240" [width]="15" [height]="510" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="lonaFill" x="250" y="130" [width]="370" [height]="180" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="borderFill" x="250" y="222.5" [width]="370" [height]="5" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="lonaFill" x="250" y="265" [width]="370" [height]="80" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="borderFill" x="250" y="307.5" [width]="370" [height]="5" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="lonaFill" x="250" y="355" [width]="370" [height]="90" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="borderFill" x="250" y="402.5" [width]="370" [height]="5" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
    <ngvas-rectangle [fill]="lonaFill" x="250" y="450" [width]="370" [height]="90" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>

    </ngvas>