<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <h1 class="page-header">Formulario De Cotización  </h1>
  <p class="lead mb-small">Llegaste al lugar correcto!</p>
  <p class="text-justify">
    Ahora podras personalizar como desees tu producto,rellena el formulario a tu gusto el y al finalizar enviaremos el producto con sus planos personalizados al correo que nos has provisto.Solo se permite un producto por cotización,debido a esto cada vez
    que presiónes en el boton de cotizar al finalizar el formulario empezaremos a procesar tu solicitud y en cuanto termine te sera entregada en tu correo.</p>
  <div class="clearfix"></div>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <ul class="nav nav-pills nav-stacked ul-with-border">
        <li *ngFor="let productType of productTypes" [ngClass]="{active: productType == selectedProductType }">
          <a href="javascript: void(0);" (click)="selectProductType(productType)">{{ productType.name }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div *ngIf="!selectedProductType">
        <div class="alert alert-info">
          <p class="text-strong">Seleccione un Tipo de Producto</p>
          <p>Para continuar con la cotización debe primero seleccionar un tipo de producto que desee cotizar.</p>
        </div>
      </div>
      <div *ngIf="selectedProductType">
        <h2>{{ selectedProductType.name }} <br><small>{{ selectedProductType.description }}</small></h2>

        <mat-horizontal-stepper linear>
          <mat-step [stepControl]="productForm" label="Información de Producto">
            <div class="stepper-box">
              <div class="col-xs-12">
                <h3 class="text-center">Información de Producto</h3>
              </div>
              <div class="col-xs-12 col-sm-6">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Producto" [(value)]="selectedProduct" (change)="selectProduct($event.value)" [required]="true">
                    <mat-option *ngFor="let product of selectedProductType.products" [value]="product">
                      {{ product.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6">
                <mat-form-field class="full-width">
                  <input matInput class="full-width" [(value)]="productQuantity" type="number" placeholder="Cantidad" min="1" />
                </mat-form-field>
              </div>
              <div class="col-xs-12">
                <h4 *ngIf="selectedProduct !== null && showProductForm">Características de Producto</h4>
              </div>
              <div class="quotation-form-box" *ngIf="selectedProduct !== null && showProductForm">
                <form class="form" [formGroup]="productForm" novalidate>




                  <div  class="col-xs-12 text-center" *ngIf="selectedProduct.name == 'Puerta rápida'">
                      <app-draw-door></app-draw-door>
                  </div>

                  <div  class="col-xs-12 text-center" *ngIf="selectedProductType.name== 'Lego'">
                      <app-draw-lego (ready)="showCanvasInLegos(selectedProduct)"></app-draw-lego>
                  </div>


                  <div *ngFor="let property of selectedProduct.properties">
                    <div class="clearfix" *ngIf="property.type === 'bool'"></div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width" *ngIf="property.type === 'integer' || property.type === 'list'">
                        <input matInput class="full-width" *ngIf="property.type === 'integer'" [formControlName]="property.name" type="number" [placeholder]="property.name" [min]="property.values[0]" [max]="property.values[1]" (change)="updateDraw(selectedProduct.name, property.name)" />
                        <mat-select *ngIf="property.type === 'list'" [formControlName]="property.name" [placeholder]="property.name" [(value)]="property.value" (change)="updateDraw(selectedProduct.name, property.name)">
                          <mat-option *ngFor="let option of property.values" [value]="option">
                            {{ option.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-slide-toggle color="primary" class="full-width" [formControlName]="property.name" *ngIf="property.type === 'bool'">
                        {{ property.name }}
                      </mat-slide-toggle>
                    </div>
                  </div>
                </form>
                <div class="col-xs-12">
                  <button mat-raised-button matStepperNext color="primary" [disabled]="productForm.invalid" class="pull-right">Siguiente</button>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </mat-step>
          <mat-step label="Información de Cotización" [stepControl]="quotationForm">
            <div class="stepper-box">
              <div class="quotation-form-box">
                <form class="form" [formGroup]="quotationForm" novalidate>
                  <div class="col-xs-12">
                    <div class="col-xs-12">
                      <h3 class="text-center">Información de Cotización</h3>
                      <h4>Información General</h4>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="firstName" type="text" placeholder="Nombres" />
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="lastName" type="text" placeholder="Apellidos" />
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="document" type="text" placeholder="Documento de Identidad" />
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="address" type="text" placeholder="Dirección" />
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="phone" type="text" placeholder="Teléfono" />
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="email" type="text" placeholder="Correo Electrónico" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xs-12">


                  <div class="col-xs-12" *ngIf="!user" >
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <mat-form-field class="full-width">
                          <input matInput class="full-width" id="password" formControlName="password" type="password" placeholder='Contraseña*' />
                        </mat-form-field>
                        <mat-chip class="mat-primary"  *ngIf="quotationForm.controls.password.dirty && quotationForm.controls.password.errors">
                          <ul class="list-unstyled">
                            <li *ngIf="quotationForm.controls.password.hasError('required')">
                              <span class="fa fa-exclamation"></span> Oops, este campo es requerido!
                            </li>
                            <li *ngIf="!quotationForm.controls.password.hasError('required') && quotationForm.controls.password.hasError('minlength')">
                              <span class="fa fa-exclamation"></span> Oops, este campo debe contener minimo 8 caracteres!
                            </li>
                          </ul>                
                        </mat-chip>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <mat-form-field class="full-width">
                          <input matInput class="full-width" id="confirmpassword" formControlName="confirmPassword" type="password" placeholder='Confirmar contraseña*' />
                        </mat-form-field>
                        <mat-chip class="mat-primary" *ngIf="quotationForm.controls.confirmPassword.dirty && quotationForm.controls.confirmPassword.errors">
                          <ul class="list-unstyled">
                            <li *ngIf="quotationForm.controls.confirmPassword.hasError('required')">
                              <span class="fa fa-exclamation"></span> Oops, este campo es requerido!
                            </li>
                            <li *ngIf="!quotationForm.controls.confirmPassword.hasError('required') && quotationForm.value.password != quotationForm.value.confirmPassword">
                              <span class="fa fa-exclamation"></span> Oops, los campos de contraseña deben coincidir!
                            </li>
                          </ul>
                        </mat-chip>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                  </div>




                    <div class="col-xs-12">
                      <h4>Información de Empresa</h4>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="enterprise" type="text" placeholder="Empresa" />
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="nit" type="text" placeholder="NIT" />
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="full-width">
                        <input matInput class="full-width" formControlName="role" type="text" placeholder="Rol en la compañia" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-xs-12">
                    <button mat-raised-button matStepperPrevious>Anterior</button>
                    <button mat-raised-button matStepperNext color="primary" [disabled]="quotationForm.invalid" class="pull-right">Siguiente</button>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </mat-step>
          <mat-step label="Completar Cotización">
            <div class="stepper-box">
              <div class="quotation-form-box">
                <div class="col-xs-12">
                  <h3>Completar Cotización</h3>
                  <p>Para completar el proceso de cotización, haga clic en el botón "Procesar Cotización" de la parte inferior.</p>
                </div>
                <div class="clearfix"></div>
                <br><br>
                <div class="col-xs-12">
                  <button mat-raised-button matStepperPrevious>Anterior</button>
                  <button mat-raised-button matStepperNext color="primary" [disabled]="false" class="pull-right" (click)="saveQuotation(productForm, quotationForm)">Procesar Cotización</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<br><br>
