<div class="col-xs-12">
  <h1 class="page-header">Cotiza ahora!</h1>
  <hr>

  <div class="col-xs-12 text-center">
    <a href="javascript: void(0);" class="btn btn-lg btn-template-main" routerLink="quotation/doors">Puertas Rápidas</a>
    <a href="javascript: void(0);" class="btn btn-lg btn-template-main" routerLink="quotation/machinery">Maquinaria Pesada</a>
    <a href="javascript: void(0);" class="btn btn-lg btn-template-main" routerLink="quotation/legos">Fichas Legos</a>
  </div>

  <div class="clearfix"></div>

  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>

  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
