<section class="no-mb">
  <!-- *** JUMBOTRON ***
_________________________________________________________ -->

  <div class="jumbotron">

    <div class="dark-mask"></div>

    <div class="container">
      <div class="row mb-small">
        <div class="col-sm-12 text-center">
          <h1>SOMOS CGSTORE</h1>
          <h2>CAD INSTANTANEO!</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-small">
          <img class="img-responsive" src="../../../assets/img/Hello.png" alt="">
        </div>

        <div class="col-sm-6 text-center-xs">
          <p class="text-uppercase">Recibe tu cotización en pocos minutos gracias a nuestra plataforma automatizada
          <p><a href="/quotation" class="scroll-to btn btn-template-transparent-black">Cotizar</a>
          </p>

        </div>
      </div>
    </div>
  </div>

  <!-- *** JUMBOTRON END *** -->
</section>
<section class="no-mb">
                <div class="jumbotron">
                    <div class="dark-mask custom_dark_mask"></div>
                    <div class="container">
                        <div class="row vertical_center_col">
                            <div class="col-md-6">
                                <h2 class="text-uppercase">Puertas Rapidas</h2>
                                <ul type=d isk style="font-size: 21px; font-weight: 400">
                                    <li> Puerta Rápida Enrollable. </li>
                                    <br>
                                    <li> Puerta Seccional. </li>
                                    <br>
                                    <li> Sellos para Muelle de carga. </li>
                                    <br>
                                    <li> Abrigos para Muelle de carga. </li>
                                    <br>
                                </ul>
                                <p><a href="/products/doors" class="btn btn-template-main">Más información</a>
                                </p>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="assets/img/template-easy-code.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<section class="no-mb">
                <div class="jumbotron">
                    <div class="dark-mask"></div>
                    <div class="container">
                        <div class="row vertical_center_col">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/template-easy-code.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-6">
                                <h2 class="text-uppercase">Maquinas para trabajo pesado</h2>
                                <ul type=d isk style="font-size: 21px; font-weight: 400">
                                    <li> Diferentes Modelos. </li>
                                    <br>
                                    <li> Documentación. </li>
                                    <br>
                                    <li> Ubicación de la maquina. </li>
                                    <br>
                                    <li> Nuevas y usadas. </li>
                                    <br>
                                </ul>
                                <p><a href="/products/machinery" class="btn btn-template-main">Más información</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<section class="no-mb">
                <div class="jumbotron">
                    <div class="dark-mask custom_dark_mask"></div>
                    <div class="container">
                        <div class="row vertical_center_col">
                            <div class="col-md-6">
                                <h2 class="text-uppercase">Fichas de lego para armar modelos</h2>
                                <ul type=d isk style="font-size: 21px; font-weight: 400">
                                    <li> Mural Lego. </li>
                                    <br>
                                </ul>
                                <p><a href="/products/legos" class="btn btn-template-main">Más información</a>
                                </p>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="assets/img/template-easy-code.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </section>