<section class="no-mb">
  <!-- *** JUMBOTRON ***
_________________________________________________________ -->

  <div class="jumbotron">

    <div class="dark-mask"></div>

    <div class="container">
      <div class="row mb-small">
        <div class="col-sm-12 text-center">
          <h1>Universal is great</h1>
          <h2>Last week more than 100 companies signed up to help them in their projects.</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-small">
          <img class="img-responsive" src="assets/img/template-mac.png" alt="">
        </div>

        <div class="col-sm-6 text-center-xs">
          <p class="text-uppercase">Business. Corporate. Agency.
            <br />Portfolio. Blog. E-commerce.
            <br />We have covered everything.</p>
          <p>See our current packages comparison
            <br />to choose the right one for you.</p>
          <p><a href="#packages" class="scroll-to btn btn-template-transparent-black">See packages</a>
          </p>

        </div>
      </div>
    </div>
  </div>

  <!-- *** JUMBOTRON END *** -->
</section>

<section class="bar background-gray no-mb padding-big text-center-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase">Everything you need</h2>
        <p class="lead mb-small">40+ prepared HTML templates</p>
        <p class="mb-small">We have prepared literally <strong>everything you would possibly need building corporate, e-commerce or portfolio website</strong>. If you still miss something, let us know and we will try to include it in theme's future updates.</p>

        <p><a href="#" class="btn btn-template-main">Read more</a>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/img/template-easy-customize.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="bar no-mb color-white padding-big text-center-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="assets/img/template-easy-code.png" alt="" class="img-responsive">
      </div>
      <div class="col-md-6">
        <h2 class="text-uppercase">Clean, valid and documented code &amp; support</h2>
        <p class="lead mb-small">We made our best to help you</p>
        <p class="mb-small">Everything in this template is properly named and categorized. In case you don't find in the documentation answer to your question, our support is here to help!</p>

        <p><a href="#" class="btn btn-template-transparent-primary">Read more</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bar background-gray no-mb padding-big text-center-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase">Easy to customize</h2>
        <p class="mb-small">We have made this template with focus on future client customization. You get <strong>40+ prepared HTML templates</strong>, many <strong>reusable components</strong> and <strong>LESS files</strong> for even easier template customization.</p>

        <p><a href="#" class="btn btn-template-main">Read more</a>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/img/template-easy-customize.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="bar background-white no-mb" id="packages">
  <div class="container" data-animate="fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <div class="heading text-center">
          <h2>Packages we offer</h2>
        </div>

        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

        <div class="row packages">

          <div class="col-md-3">
            <div class="package ">
              <div class="package-header light-gray">
                <h5>Basic</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>7</h4>
                  <span class="period">

/ month

</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-times"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul>
              <a href="#" class="btn btn-template-main">

Sign Up </a>
            </div>
          </div>
          <!-- / END FIRST PACKAGE -->

          <div class="col-md-3">
            <div class="package ">
              <div class="package-header light-gray">
                <h5>Standard</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>21 </h4>
                  <span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-times"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul>
              <a href="#" class="btn btn-template-main">

Sign Up </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="best-value">
              <div class="package">
                <div class="package-header">
                  <h5>Premium</h5>
                  <div class="meta-text">
                    Best Value
                  </div>
                </div>
                <div class="price">
                  <h4><span class="currency">$</span>53</h4>
                  <span class="period">/ month</span>
                </div>
                <ul>
                  <li><i class="fa fa-check"></i>100GB Storage</li>
                  <li><i class="fa fa-check"></i>Own config file</li>
                  <li><i class="fa fa-times"></i>Sharing Tools</li>
                  <li><i class="fa fa-times"></i>Auto Backup</li>
                  <li><i class="fa fa-times"></i>Extended Security</li>
                </ul>
                <a href="#" class="btn btn-template-main">

Sign Up </a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="package">
              <div class="package-header light-gray">
                <h5>Ultimate</h5>
              </div>
              <div class="price">
                <h4><span class="currency">$</span>99 </h4>
                <span class="period">/ month</span>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-times"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul>
              <a href="#" class="btn btn-template-main">

Sign Up </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="owl-carousel customers">
          <li class="item">
            <img src="assets/img/customer-1.png" alt="" class="img-responsive">
          </li>
          <li class="item">
            <img src="assets/img/customer-2.png" alt="" class="img-responsive">
          </li>
          <li class="item">
            <img src="assets/img/customer-3.png" alt="" class="img-responsive">
          </li>
          <li class="item">
            <img src="assets/img/customer-4.png" alt="" class="img-responsive">
          </li>
          <li class="item">
            <img src="assets/img/customer-5.png" alt="" class="img-responsive">
          </li>
          <li class="item">
            <img src="assets/img/customer-6.png" alt="" class="img-responsive">
          </li>
        </ul>
        <!-- /.owl-carousel -->
      </div>

    </div>
  </div>
</section>

<section class="bar background-image-fixed-2 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="icon icon-lg"><i class="fa fa-file-code-o"></i>
        </div>
        <h1>Do you want to see more?</h1>
        <p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.</p>
        <p class="text-center">
          <a href="index3.html" class="btn btn-template-transparent-black btn-lg">Check other homepage</a>
        </p>
      </div>

    </div>
  </div>
</section>
