.embed-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alfa {
  background-image: url(https://2.bp.blogspot.com/-v3a3glbYRA8/UnqwXdlbwvI/AAAAAAAAHug/gNE9IhI2WSI/s1600/primavera-2.jpg);
  width: 800px;
  height: 470px;
  border: 2vh solid #000000;
  border-radius: 3px;
  box-shadow: 0 0 1px #999, -2px 2px 3px rgba(0, 0, 0, .2);
  padding: 0;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
}

.bravo {
  background-image: url(https://1.bp.blogspot.com/-W4DXI0ORnZg/UnqwWvUkTmI/AAAAAAAAHuY/vEsWcZBOCcI/s1600/oto%C3%B1o.jpg);
  height: 470px;
  resize: horizontal;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
  max-width: 800px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bravo:before {
  content: '↔';
  background: rgba(0, 0, 0, .7);
  font-size: 18px;
  color: white;
  top: 0;
  right: 0px;
  hight: 100%;
  line-height: 486px;
  position: absolute;
}

.charly {
  resize: horizontal;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 0px;
  margin-right: 0px;
  width: 0px;
  height: 15px;
  max-width: 794px;
  min-width: 15px;
  outline: 0 solid transparent;
  cursor: move;
  cursor: all-scroll;
  transform: scaley(35);
  transform-origin: center center;
  animation: delta 5s 1 normal ease-in-out 1s;
}

@keyframes delta {
  30% {
    width: 500px
  }
  60% {
    width: 150px
  }
  80% {
    width: 250px
  }
}
