<section class="bar background-image-fixed-2 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-uppercase">Maquinaria Pesada</h1>
        <p class="lead">Filtra por tipos de maquinaria y visualiza sus defectos facilmente.</p>
      </div>

    </div>
  </div>
</section>

<section class="bar background-gray no-mb padding-big text-center-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase">Por donde la desees mirar! </h2>
        <p class="lead mb-small">Presiona la imagen <span class="glyphicon glyphicon glyphicon-hand-right"></span></p>
        <p class="mb-small">Te enviaremos a tu correo un render muy similar como este para que puedas visualizar el producto por cualquier lugar.</p>
        <p class="lead mb small">Ademas podras escuchar el vehiculo encendido</p>
        <div class="text-center">
          <audio id="audio-player" src="https://trello-attachments.s3.amazonaws.com/59c180c9df975fa33b73f7aa/59f98e6c05380dffe055dd02/c73cf8d6ba9c75976d1ff969ca5759e3/tractor.mp3" controls loop>
               Your browser does not support the <code class="player" >audio</code> element.
             </audio>
        </div>




      </div>
      <div class="col-md-6 text-center">

        <div class="embed-container">
          <iframe src="https://3dwarehouse.sketchup.com/embed.html?mid=88ec1ce613f600a3f3cd94dd07a05e9e&width=565&height=317" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="580" height="326" allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>
</section>
<hr class="style-two">

<section class="bar background-gray  no-mb padding-big text-center-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Detecta daños en partes de la maquinaria </h2>
        <p class="lead mb-small">Interactua con la imagen <span class="glyphicon glyphicon glyphicon-hand-right"></span></p>
        <p class="mb-small">Recibiras en tu correo un modelo para que visualices la maquinaria de manera correcta y tambien otro modelo en el que se resaltan las partes dañadas.</p>
      </div>
      <div class="col-md-6 text-center">
        <h1>Mueve el icono de la imagen  <span class="glyphicon glyphicon-resize-horizontal"></span> </h1>
        <div class='alfa' title='Primavera' alt="https://codepen.io/solipsistacp/pen/Gpmaq/">
          <div class='bravo' title='Otoño'>
            <textarea readonly cols='0' rows='0' class='charly'></textarea>
          </div>
        </div>

      </div>

      <div class="col-md-3 text-center">
        <h1>Todo en una sola cotización</h1> Los modelos que recibes contienen medidas exactas de los modelos reales ,informacion de las partes que se encuentran dañadas asi como tambien distribuidores con los cuales puedes obtener los repuestos para dichas maquinaria.
        <hr>
        <br>
        <button (click)="goToQuotation()" type="button" class="btn btn-lg btn-template-main">Cotizar Ahora!</button>

      </div>
    </div>
  </div>
</section>
