.embed-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alfa {
  background-image: url(https://2.bp.blogspot.com/-v3a3glbYRA8/UnqwXdlbwvI/AAAAAAAAHug/gNE9IhI2WSI/s1600/primavera-2.jpg);
  background-size: 60vh 40vh;
  width: 60vh;
  height: 40vh;
  border: 1vh solid #000000;
  border-radius: 1vh;
  box-shadow: 0 0 1vh #000000, -2vh 2vh 3vh rgba(0, 0, 0, .4);
  padding: 0;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
}

.style-two {
  border: 0;
  height: 1.5vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.bravo {
  background-image: url(https://1.bp.blogspot.com/-W4DXI0ORnZg/UnqwWvUkTmI/AAAAAAAAHuY/vEsWcZBOCcI/s1600/oto%C3%B1o.jpg);
  background-size: 60vh 40vh;
  height: 40vh;
  resize: horizontal;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
  max-width: 500px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bravo:before {
  content: '↔';
  background: rgba(0, 0, 0, .7);
  font-size: 3vh;
  color: white;
  top: 0;
  right: 0px;
  hight: 100%;
  line-height: 50vh;
  position: absolute;
}

.charly {
  resize: horizontal;
  opacity: 0;
  position: relative;
  top: 20%;
  left: 0px;
  margin-right: 0px;
  width: 0px;
  height: 15px;
  max-width: 486px;
  min-width: 15px;
  outline: 0 solid transparent;
  cursor: move;
  cursor: all-scroll;
  transform: scaley(25);
  transform-origin: center center;
  animation: delta 5s 1 normal ease-in-out 1s;
}

maximun-container {
  background-image: url("http://cache.lego.com/r/ldd/-/media/digital%20designer/carousel/contentbg_home_racecar.png?l.r2=-779130651");
}

@keyframes delta {
  30% {
    width: 40vh
  }
  60% {
    width: 0
  }
  80% {
    width: 10vh
  }
}
