


<h1>Sello </h1>
    <ngvas [width]="canvasWidth" [height]="canvasHeight" >


      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="outlineFill" [x]="topX" [y]="topY" [width]="topWidth" [height]="topHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="outlineFill" [x]="outlineLeftX" [y]="outlineLeftY" [width]="outlineWidth" [height]="outlineHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="outlineFill" [x]="outlineRightX" [y]="outlineRightY" [width]="outlineWidth" [height]="outlineHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>


      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="aletaFill" [x]="centerOutlineLeftX" [y]="centerOutlineLeftY" [width]="centerOutlineWidth" [height]="centerOutlineHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="aletaFill" [x]="centerOutlineRightX" [y]="centerOutlineRightY" [width]="centerOutlineWidth" [height]="centerOutlineHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>


      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_0_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_1_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_2_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_3_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_4_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_5_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_6_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_7_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_8_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_9_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_10_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_11_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_12_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_13_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_14_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_15_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>  
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_16_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_17_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_18_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_19_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_20_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-rectangle [stroke]="{ width: strokeWidth, style: strokeColor }" [fill]="dividerFill" [x]="divider_0_X" [y]="divider_21_Y" [width]="dividerWidth" [height]="dividerHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>  


      <ngvas-rectangle  [fill]="lonaFill" [x]="lonaX" [y]="lonaY" [width]="lonaWidth" [height]="lonaHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle> 
      <ngvas-rectangle  [fill]="lonaFill" [x]="extraLonaX" [y]="extraLonaY" [width]="extraLonaWidth" [height]="extraLonaHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle> 





      <ngvas-image fill="rgba(0,0,0,0)" [x]="imageAngle_no_10_X" [y]="imageAngle_no_10_Y" [width]="imageAngleWidth" [height]="imageAngleHeight" src="assets/img/sellos_para_muelles_de_carga/sello_angulo_no_10.png"></ngvas-image>
      <ngvas-image [visible]="imageAngle_0_visibility" fill="rgba(0,0,0,0)" [x]="imageAngle_0_X" [y]="imageAngle_0_Y" [width]="imageAngleWidth" [height]="imageAngleHeight" src="assets/img/sellos_para_muelles_de_carga/sello_angulo_0.png"></ngvas-image>
      <ngvas-image fill="rgba(0,0,0,0)" [x]="imageAngle_10_X" [y]="imageAngle_10_Y" [width]="imageAngleWidth" [height]="imageAngleHeight" src="assets/img/sellos_para_muelles_de_carga/sello_angulo_10.png"></ngvas-image>

      <ngvas-rectangle  [stroke]="{ width: strokeWidth, style: strokeColor }" [rotation]="angleShapeRotation" [fill]="outlineFill" [x]="angleShapeX" [y]="angleShapeY" [width]="angleShapeWidth" [height]="angleShapeHeight" origin="center" [hitArea]="pixelHitArea"></ngvas-rectangle>
      <ngvas-text [fill]="textFill" [textStyle]="{ font: '30px Arial' }"    [x]="textAngleX" [y]="textAngleY" [text]="angleShapeText"></ngvas-text>

    </ngvas>



