<section class="bar background-image-fixed-3 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-uppercase">Fichas de legos</h1>
        <p class="lead">Personaliza el modelo que deseas y obten los planos de inmediato .</p>
      </div>

    </div>
  </div>
</section>

<section class="background-image-fixed-2 no-mb padding-big text-center-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase">Por donde la desees mirar! </h2>
        <p class="lead mb-small">Presiona la imagen <span class="glyphicon glyphicon glyphicon-hand-right"></span></p>
        <p class="mb-small">Te enviaremos a tu correo un render muy similar como este para que puedas visualizar el producto en cualquier vista.</p>
      </div>
      <div class="col-md-6 text-center">

        <div class="embed-container">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7a7e1816382c9caa87?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </div>

  <hr class="style-two">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">los Modelos </h1>
      <p class="lead text-muted">
        Tenemos impresionantes modelos creados a partir de las famosas fichas de Lego. Ademas puedes personalizar los modelos a tu gusto.
      </p>
      <p>
        <a (click)="goToQuotation()" class="btn btn-primary">Cotiza Ahora!</a>
        <a (click)="goToRegister()" class="btn btn-secondary">Registrate</a>
      </p>
    </div>
  </section>
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div class="box-image">
          <div class="image">
            <img src="https://trello-attachments.s3.amazonaws.com/59c180c9df975fa33b73f7aa/59f98f07324c8361d67aad07/690d70bf97cfe42a07c425a317a0c55b/1.jpg" alt="vehiculo de construcción" class="img-responsive">
          </div>
          <div class="bg"></div>
          <div class="name">
            <h3>Vehículos de construcción</h3>
          </div>
          <div class="text">
            <p>
              Se pueden personalizar varias partes de este modelo así como algunos de sus colores.
            </p>
            <p class="buttons">
              <a (click)="goToQuotation()" class="btn btn-template-transparent-primary">Cotizar!</a>
              <a href="https://lc-www-live-s.legocdn.com/bigdownloads/buildinginstructions/6145941.pdf" class="btn btn-template-transparent-primary">Ensamblado Original</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-image">
          <div class="image">
            <img src="https://trello-attachments.s3.amazonaws.com/59c180c9df975fa33b73f7aa/59f98f07324c8361d67aad07/2dc6dbad1194101a65e022f75e29db87/2.jpg" alt="Corredores del desierto" class="img-responsive">
          </div>
          <div class="bg"></div>
          <div class="name">
            <h3>Corredores del desierto</h3>
            <p>
              Este modelo es de la linea creator y tambien posee partes personalizables.
            </p>
          </div>

          <div class="text">
            <p class="buttons">
              <br>
              <br>
              <a (click)="goToQuotation()" class="btn btn-template-transparent-primary">Cotizar!</a>
              <a href="https://lc-www-live-s.legocdn.com/bigdownloads/buildinginstructions/6145903.pdf" class="btn btn-template-transparent-primary">Ensamblado Original</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-image">
          <div class="image">
            <img src="https://trello-attachments.s3.amazonaws.com/59c180c9df975fa33b73f7aa/59f98f07324c8361d67aad07/e839849b7238227e6151e853e2bfc97f/3.jpg" alt="Transportes en el mar" class="img-responsive">
          </div>
          <div class="bg"></div>
          <div class="name">
            <h3>Transportes en el mar</h3>
          </div>
          <div class="text">
            <p class="buttons">
              <a (click)="goToQuotation()" class="btn btn-template-transparent-primary">Cotizar!</a>
              <a href="https://lc-www-live-s.legocdn.com/bigdownloads/buildinginstructions/6112315.pdf" class="btn btn-template-transparent-primary">Ensamblado Original</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="bar background-gray  no-mb padding-big text-center-sm">
    <div class="container">
      <div class="row">
        <div class="heading text-justify">
          <h1>vehiculos</h1>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7a7e1816382c9caa87?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7a7fea4de478c1f346?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7a55bd010144f8774b?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </section>
  <section class="bar background-gray  no-mb padding-big text-center-sm">
    <div class="container">
      <div class="row">
        <div class="heading text-justify">
          <h1>vehiculos</h1>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7a9a90e0c4309faac1?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7a5a2e5bc713ade7fc?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7a6057601defd1a9e5?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </section>
  <section class="bar background-gray  no-mb padding-big text-center-sm">
    <div class="container">
      <div class="row">
        <div class="heading text-justify">
          <h1>Maquinaria</h1>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7abc2996d1b1657933?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7aa4ed9a9a5380c0c9?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
        <div class="embed-container col-md-4">
          <iframe src="https://myhub.autodesk360.com/ue2a9b90d/shares/public/SHabee1QT1a327cf2b7ae2c1650df7b50783?mode=embed" width="580" height="326" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </section>



  <!-- /.box-image -->



  <!--    <div class="col-md-8 model-content">


        <div class="model-header-blue">
          <h1 class="model-heading">Diseño a tus medidas </h1>
        </div>






        <div class="model-body">

          <div class="col-md-4">
            <div class="over img-responsive"><a></a></div>
          </div>
          <div class="col-md-8 lead mb-small model-p">
            Puedes variar el tamaño de tus legos en todas sus dimensiones, tambien puedes escoger la cantidad de legos que deseas obtener en tu cotización.


          </div>







          <div class="clearfix">
          </div>
        </div>
      </div>

      <div class="col-md-8 model-content">


        <div class="model-header-blue">
          <h2 class="model-heading">Selecciona el color de tus legos</h2>
        </div>

        <div class="box col-md-8"></div>
        <div class="highlight"></div>

        <div class="clearfix">
        </div>



      </div>








    </div>







  </div>
  </div>

-->
</section>
