/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.navbar ul.nav>li>a {
  text-decoration: none;
}

.vertical-textarea {
  resize: vertical;
}

/* Navigation link styles */

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

.alert-sm {
  padding: 10px;
}

.border-flat {
  border-radius: 0;
}

.icon {
  border-color: transparent;
}

/*  Style for wizard form */

/*
[hidden] {
  display: none !important;
}

.card-footer {
  background-color: rgba(255, 255, 255, 0) !important;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: white;
  background: #1976d2;
}

.btn:hover {
  color: white;
  background: #145a9e;
}

a:link {
  color: #ffc1c1;
}

.demo {
  overflow-y: -webkit-paged-x;
}*/
