@media (min-width: 992px) {
  .vertical_center_col {
    display: flex;
    align-items: center;
  }
}

.vertical_center_col{
  text-align: center;
  margin:0 auto;
}

.last_col{
	margin-bottom: 20px;
}

.image_center{
  max-width: 50%;
  margin:0 auto;
}